{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="container">
    <p class="read-text">
        I'm Scott Corbat, a student at Michigan Technological University studying for Computer Science.  I created this
        website as a summer project for both personal use and experience.  It features cloud storage which I can use for school
        to transfer work between my laptop and desktop.  Every service is hosted on a server "box" I created myself.  It is a low 
        budget computer that runs in my home and is maintained and developed through SSH.  Specs for this computer can be found on 
        the <a href="about" class="read-text">about</a> page, as well as each service I am currently hosting.
    </p>
    <hr>

    <h1 style="font-weight: bold; color:goldenrod">Other Projects</h1>
    <h3>Voting Booth Application (HIDE)</h3>
    <p class="read-text">
        I joined HIDE during the spring semester of 2019 and chose to work on the Voting Booth team.  The project is to 
        create a survey application for the Undergraduate Student Government (USG).  Currently I work on the frontend of 
        the application, which utilizes HTML, CSS, and Flask-Bootstrap.  Our application uses the Flask framework, a UWSGI 
        web server, and Nginx as a reverse proxy.  Our code can be found on the 
        <a href="https://github.com/MTUHIDE/ask-meagain" class="read-text">HIDE GitHub.</a>
    </p>
    <hr>

    <h3>Retro Gaming Console</h3>
    <p class="read-text">
        I used a Raspberry Pi Model 3B+ and installed an emulation software called RetroPie.  It can play anything from old 
        arcade games such as Galaga, to N64 games.  It's portable thanks to the small size of Raspberry Pis, and has little 
        cord hassle.  It only requires a power chord, HDMI, and any USB cables for controllers.
    </p>
    <hr>

    <h3>Unity Video Game</h3>
    <p class="read-text">
        My final project in my high school C#/Video Game Development class was to create a game in the Unity engine.  I created 
        a game where the player is a ball that has to roll through an obstacle course.  The game featured moving obstacles, 
        powerups, and a timer to track the speed of completion.  It also had start and finish menus.
    </p>
    <hr>

    <h3>Brawlhalla Legend Counter</h3>
    <p class="read-text">
        This project mainly served to teach myself JavaFX and how to save data to files in Java.  Brawlhalla is a fighting 
        game I enjoy, and this program keeps track of how much I verse various characters.  It can also display the data in 
        a pie chart.  The data can be saved to a file using Java's Serializable interface.  Source code can be found on my 
        <a href="https://github.com/combateer3/Brawlhalla-Legend-Counter" class="read-text">GitHub</a>.
    </p>
    <hr>
</div>
{% endblock %}