{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="container">
    <p>
        I'm Scott Corbat, a student at Michigan Technological University studying for Computer Science.  I created this
        website as a summer project for both personal use and experience.  It features cloud storage which I can use for school
        to transfer work between my laptop and desktop.  Every service is hosted on a server "box" I created myself.  It is a low 
        budget computer that runs in my home and is maintained and developed through SSH.  Specs for this computer can be found on 
        the <a href="about">about</a> page, as well as each service I am currently hosting.
    </p>
</div>
{% endblock %}