{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3><i>1984</i> - George Orwell</h3>

    <div class="jumbotron">
        "Who controls the past controls the future.  Who controls the present controls the past."
    </div>

    <div class="jumbotron">
        “Now I will tell you the answer to my question. It is this. The Party seeks power entirely for its own sake.
        We are not interested in the good of others; we are interested solely in power, pure power.
        What pure power means you will understand presently. We are different from the oligarchies of the past in that we know
        what we are doing. All the others, even those who resembled ourselves, were cowards and hypocrites.
        The German Nazis and the Russian Communists came very close to us in their methods, but they never had
        the courage to recognize their own motives. They pretended, perhaps they even believed,
        that they had seized power unwillingly and for a limited time, and that just around the corner there lay a paradise
        where human beings would be free and equal. We are not like that. We know that no one ever seizes power
        with the intention of relinquishing it. Power is not a means; it is an end.
        One does not establish a dictatorship in order to safeguard a revolution;
        one makes the revolution in order to establish the dictatorship. The object of persecution is persecution.
        The object of torture is torture. The object of power is power. Now you begin to understand me.” 
    </div>

    <div class="jumbotron">
            “Being in a minority, even in a minority of one, did not make you mad.
            There was truth and there was untruth, and if you clung to the truth even against the whole world, 
            you were not mad.” 
    </div>

    <div class="jumbotron">
            “There will be no curiosity, no enjoyment of the process of life. All competing pleasures will be destroyed. 
            But always—do not forget this, Winston—always there will be the intoxication of power, constantly increasing and 
            constantly growing subtler. Always, at every moment, there will be the thrill of victory, 
            the sensation of trampling on an enemy who is helpless. If you want a picture of the future, 
            imagine a boot stamping on a human face—forever. War is a way of shattering to pieces, or pouring into the stratosphere, 
            or sinking into the depths of the sea, materials which might otherwise be used to make the masses too comfortable, 
            and hence, in the long run, too intelligent.”
    </div>
    
    <div class="jumbotron">
            And perhaps you might pretend, afterwards, that it was only a trick and that you just said it to make them stop 
            and didn’t really mean it. But that isn’t true. At the time when it happens you do mean it. 
            You think there’s no other way of saving yourself and you’re quite ready to save yourself that way. 
            You want it to happen to the other person. You don’t give a damn what they suffer. All you care about is yourself.
    </div>

    <div class="jumbotron">
            "It was not easy. It needed great powers of reasoning and improvisation. The arithmetical problems raised, 
            for instance, by such a statement as "two and two make five" were beyond his intellectual grasp. 
            It needed also a sort of athleticism of mind, an ability at one moment to make the most delicate use of logic 
            and at the next to be unconscious of the crudest logical errors. Stupidity was as necessary as intelligence, 
            and as difficult to attain."
    </div>
</div>
{% endblock %}