{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="jumbotron">
        <p>"I've already trod on dangerous ground, we're on dangerous ground right now; because of our secrets and our lies. 
             They're practically what define us!  When the truth offends, we lie and lie until we can no longer remember it is even there, 
            but it is still there.  Every lie we tell incurs a debt to the truth.  Sooner or later that debt is paid.  That is how 
            an RBMK reactor core explodes.  Lies.<br><br>--Legasov
        </p>

        <a href="https://www.youtube.com/watch?v=zKR84md0aXk" class="btn btn-outline-primary" role="button">Source Clip</a>
    </div>

    <div class="jumbotron">
        <p>"I did what I did for the good of the realm."<br>
            "The realm...do you know what the realm is?  It's the thousand blades of Aegon's enemies; a story we agree to tell each 
            other over and over, til we forget that its a lie."<br>
            "But what do we have left when we abandon the lie?  Chaos, a gaping pit waiting to swallow us all."<br>
            "Chaos isn't a pit.  <i>Chaos is a ladder.</i>  Many who try to climb it fail, never get to try again.  The fall 
            breaks them.  And some are given a chance to climb, but they refuse.  They cling to the realm, or the gods, or love.  
            Illusions.  Only the ladder is real.  The climb is all there is."<br><br>--Conversation between Lord Varys and Petyr 
            "Littlefinger" Baelish
        </p>

        <a href="https://www.youtube.com/watch?v=PxlIraEV8n4" class="btn btn-outline-primary" role="button">Source Clip</a>
    </div>

    <div class="jumbotron">
        <p>
            "I've known braver souls then you Khomyuk.  Men who had their moment and did nothing, because when it's your life 
            and the lives of everyone you love, your moral commission doesn't mean anything.  It leaves you.  And all you want 
            at that moment, is not to be shot."<br>
            "Do you know the name Vasily Ignatenko?"<br>
            "No."<br>
            "He was a fireman.  He died two weeks after the accident.  I've been looking in on his widow.  She gave birth, a girl.  
            The baby lived for four hours.  They said the radiation would've killed the mother, but the baby absorbed it instead.  
            Her baby.  We live in a country where children have to die to save their mothers.  To hell with your deal, and to hell 
            with our lives.  Someone has to start telling the truth."<br><br>--Conversation between Khomyuk and Shcherbina
        </p>

        <a href="https://www.youtube.com/watch?v=KLDi3P5dhqo" class="btn btn-outline-primary" role="button">Source Clip</a>
    </div>

    <div class="jumbotron">
        <p>
            "Tell him who it belonged to."<br>
            "The princess Shireen."<br>
            "Tell him what you did to her...TELL HIM!"<br>
            "We burned her at the stake."<br>
            "Why."<br>
            "The army was strep, the horses were dying.  It was the only way."<br>
            "YOU BURNED A LITTLE GIRL ALIVE!"<br>
            "I only do what my lord commands!"<br>
            "If he commands you to burn children, your lord is evil!"<br>
            "We are standing here because of him.  Jon Snow is alive, because the lord willed it."<br>
            "I loved that girl like she was my own.  She was good, she was kind, and you KILLED HER!"<br>
            "So did her father.  So did her mother.  Her own blood knew it was the only way!"<br>
            "The only way for what?!  They all died anyway!  You told everyone Stannis was the one, you had him believing it, all of them fooled.  And you lied."<br>
            "I didn't lie!  I was wrong."<br>
            "Aye.  You were wrong.  How many died, because you were wrong?"
        </p>
    </div>
    </div>
{% endblock %}