{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Member</h1>
    <p class="read-text">The default role given to all new players who join the server.</p>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Command</th>
                <th scope="col">Syntax</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">afk</th>
                <td>/afk</td>
                <td>Marks yourself as afk.</td>
            </tr>
            <tr>
                <th scope="row">balance</th>
                <td>/balance &lt;player&gt;</td>
                <td>Get balance of a player.</td>
            </tr>
            <tr>
                <th scope="row">depth</th>
                <td>/depth</td>
                <td>Get current depth.</td>
            </tr>
            <tr>
                <th scope="row">helpop</th>
                <td>/helpop &lt;message&gt;</td>
                <td>Send message to the online admins.</td>
            </tr>
            <tr>
                <th scope="row">ignore</th>
                <td>/ignore &lt;player&gt;</td>
                <td>Ignore or unignore another player.</td>
            </tr>
            <tr>
                <th scope="row">info</th>
                <td>/info</td>
                <td>Gives general information about the server.</td>
            </tr>
            <tr>
                <th scope="row">seen</th>
                <td>/seen &lt;player&gt;</td>
                <td>Shows last logout time of a player.</td>
            </tr>
            <tr>
                <th scope="row">suicide</th>
                <td>/suicide</td>
                <td>Causes you to perish.</td>
            </tr>
            <tr>
                <th scope="row">pay</th>
                <td>/pay &lt;player&gt; &lt;amount&gt;</td>
                <td>Pays another player from your balance.</td>
            </tr>
            <tr>
                <th scope="row">paytoggle</th>
                <td>/paytoggle</td>
                <td>Toggles whether you are accepting payments.</td>
            </tr>
            <tr>
                <th scope="row">help</th>
                <td>/help [page number]</td>
                <td>Displays help info about commands.</td>
            </tr>
            <tr>
                <th scope="row">r</th>
                <td>/r &lt;message&gt;</td>
                <td>Quick reply to the last player who messaged you.</td>
            </tr>
            <tr>
                <th scope="row">msg</th>
                <td>/msg &lt;player&gt; &lt;message&gt;</td>
                <td>Send a private message to another player.</td>
            </tr>
            <tr>
                <th scope="row">rules</th>
                <td>/rules</td>
                <td>Displays the rules of the server.</td>
            </tr>
            <tr>
                <th scope="row">worth</th>
                <td>/worth &lt;&lt;itemname&gt;|&lt;id&gt;|hand|inventory|blocks&gt; [-][amount]</td>
                <td>Calculates the worth of items in hand or as specified.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}