{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Scott's Minecraft SMP</h1>
    <div class="jumbotron read-text">
        <h2>Server Info</h2>
        Address: mc.scottcorbat.com<br>
        Version: 1.14.4<br>
        Owner: combateer3<br><br>
        <a href="https://discord.gg/wrKWnru" class="big-link">Discord Link</a>
    </div>

    <p class="read-text">
        This server is run on Paper, a fork of Spigot. As such, it supports Spigot plugins. There is also a hierarchy of
        roles
        delegated to trusted persons, namely Moderator and Admin. Everyone is made a member upon joining. A full list of
        the
        powers of each role, as well as members of each role are documented here for public knowledge. I will also
        provide
        an updated list of plugins currently used on the server.
    </p>

    <h2>New player?  Read here</h2>
    <p class="read-text">
        Upon joining the server, you can use '/rules' to view server rules, '/info' for server plugins, and '/help' to
        see all your available commands.  You can also see a list of your permissions 
        <a href="mcserver/member" class="read-text">here</a>.
    </p>

    <hr>

    <h1>Roles</h1>
    <a href="mcserver/member" class="big-link">Member (Default Role)</a><br>
    <a href="mcserver/moderator" class="big-link">Moderator</a><br>
    <a href="mcserver/admin" class="big-link">Admin</a>
    <hr>

    <h1>Plugins</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">EssentialsX</li>
        <li class="list-group-item">EssentialsXChat</li>
        <li class="list-group-item">LuckPerms</li>
        <li class="list-group-item">Vault</li>
        <li class="list-group-item">CommandSigns</li>
    </ul>

    <hr>
    <p class="read-text">
        Most command syntax and descriptions taken from the 
        <a href="https://essinfo.xeya.me/index.php?page=commands" class="read-text">EssentialsX Info Page</a>.
    </p>
</div>
{% endblock %}