@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Montserrat|Quicksand&display=swap');

* {
    font-family: 'Crimson Text', sans-serif;
    font-size: 18px;
}

body, html {
    height: 100%;
}

.read-text {
    font-size: 22px;
}

.big-link {
    font-size: 28px;
}

#websiteTitle {
    font-size: 4em;
    vertical-align: middle;
    /*font-family: 'Manjari', sans-serif;*/
    padding-top: 10px;
}

.list-group {
    display: inline-block;
}

.container {
    padding-top: 2em;
}

#blog-left {
    padding-top: 5vh;
    padding-left: 5vw;
}

#blog-right {
    padding-top: 5vh;
    padding-right: 5vw;
}

#btn-post {
    width: 30vh;
    height: 20vh;
    text-align: center;
    margin: auto;
    line-height: 20vh;
    float: right;
}