@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Montserrat|Quicksand&display=swap');

* {
    font-family: 'Crimson Text', sans-serif;
    font-size: 18px;
}

body, html {
    height: 100%;
}

.read-text {
    font-size: 22px;
}

.no-link-style {
    color: inherit;
    text-decoration: none;
}

#websiteTitle {
    font-size: 4em;
    vertical-align: middle;
    /*font-family: 'Manjari', sans-serif;*/
    padding-top: 10px;
}

.list-group {
    display: inline-block;
}

.container {
    padding-top: 2em;
}