{% extends "bootstrap/template.html" %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block styles %}
{{ super() }}
<link href="../static/assets/css/style.css" rel="stylesheet">
<link rel="icon" type="image/gif" href="../static/assets/images/husky-icon.png">
<!-- fontawesome icons -->
<script src="https://kit.fontawesome.com/2f1051008b.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}<title>Scott's Forum</title>{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="font-size: 32px;">
                <img src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgd/michigan-tech.svg" width="50" height="50" alt="" class="d-inline-block align-top">
                Scott Corbat
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{ render_nav_item('index', 'Home') }}
                    {{ render_nav_item('cloud', 'Cloud Storage') }}

                    <!--No function to render nav dropdown menu in Bootstrap-Flask, so must be done manually>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quotes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="quotes1984">1984</a>
                            <a class="dropdown-item" href="quotesBNW">Brave New World</a>
                        </div>
                    </li-->

                    {{ render_nav_item('blog.blog_home', 'Blog') }}
                    {{ render_nav_item('mcserver.mcserver_home', 'Minecraft Server') }}
                    {{ render_nav_item('about', 'About') }}
                </ul>

                <!-- Right side of navbar -->
                <ul class="navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item" style="padding-left:20px;">
                        <a href="{{ url_for('login') }}" class="btn btn-outline-info">Login</a>
                    </li>
                    {% else %}
                        <!-- display hi message -->
                    <li class="nav-item nav-link active">
                        Hi, {{ current_user.username }}
                    </li>

                    <li class="nav-item" style="padding-left:20px;">
                        <a href="{{ url_for('logout') }}" class="btn btn-outline-info">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
{% endblock %}


<!-- IMPORTANT NOTE: to display flashed messages, the template must call { super() }, because
for some reason flask isn't rendering anything outside of the { block ____} calls-->
{% block content %}
    <!-- Render any flashed messages if there are some -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
{% endblock %}