{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="../static/assets/css/index.css">
{% endblock %}

{% block content %}

<div class="container intro">
<p class="read-text">
    I'm Scott Corbat, a student at Michigan Technological University studying for Computer Science.
    I created this website as a summer project for both personal use and experience. It features cloud storage which I can use for school to transfer work between my laptop and desktop.
    Every service is hosted on a server "box" I created myself. It is a low budget computer that runs in my home and is maintained and developed through SSH.
    Specs for this computer can be found on the about page, as well as each service I am currently hosting.
</p>
</div>
    <br><br>
<div class="service-header">Services</div>

<div class="card-container">
    <a class="my-card nextcloud-card" href="https://cloud.scottcorbat.com">
        <i class="fa fa-cloud fa-5x"></i>
        <div class="card-title">Nextcloud</div>
        <div>Nextcloud is a third-party cloud storage system.  As of now, accounts are made
            by me personally.  Contact me if you need one.
        </div>
    </a>

    <a class="my-card servers-card" href="mcserver">
        <i class="fa fa-server fa-5x"></i>
        <div class="card-title">Servers</div>
        <div>
            I host a few different servers for my friends and I to play on. Minecraft and ARK: Survival Evolved are
            some examples.  They are hosted on the same server machine as this website.
        </div>
    </a>

    <a class="my-card blog-card" href="blog">
        <i class="fas fa-user-edit fa-5x"></i>
        <div class="card-title">Blog</div>
        <div>
            Currently a WIP. Requires creation of an account, and right now I have some known database issues that
            may prevent users from posting.
        </div>
    </a>
</div>


<div class="service-header">My Projects</div>
<div class="card-container">
    <a class="my-card about-card" href="about">
        <i class="fa fa-info-circle fa-5x"></i>
        <div class="card-title">About</div>
        <div>
            See more information about this website! The list of services it provides and the specifications
            of the server it is run on.
        </div>
    </a>

    <a class="my-card hide-card" href="https://github.com/MTUHIDE/ask-meagain">
        <img class="hide-logo" src="../static/assets/images/HIDE_Logo.png" />
        <div class="card-title">HIDE: Voting Booth</div>
        <div>
            I am a member of Michigan Tech's Humane Interface Design Enterprise (HIDE). I am on a team creating a survey
            software for our Undergraduate Student Government (USG).
        </div>
    </a>

    <!--a class="my-card blc-card" href="https://github.com/combateer3/Brawlhalla-Legend-Counter">
        <i class="fab fa-java fa-5x"></i>
        <div class="card-title">Brawlhalla Legend Counter</div>
        <div>
            A project I made when I was near the beginning of my coding journey.  Utilizes JavaFX and persistent
            storage of data.
        </div>
    </a-->
</div>

{% endblock %}