{% extends "base.html" %}

{% block content %}
<!-- load flashed error messages -->
{{ super() }}


<div class="container">

<h1>Sign In</h1>

<div class="alert alert-info">
    <b>Notice!</b><br>
    If you're login is not working, I may have wiped the database for development purposes.  Try registering for a new
    account if your login is not working.
</div>

<div class="jumbotron">
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>

        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>

        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit(class_="btn btn-secondary") }}</p>

    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</form>
</div>

</div>
{% endblock %}