{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3><i>Brave New World</i> - Aldous Huxley</h3>

    <div class="jumbotron">
            “Actual happiness always looks pretty squalid in comparison with the overcompensations for misery. 
            And, of course, stability isn't nearly so spectacular as instability. And being contented has none of the 
            glamour of a good fight against misfortune, none of the picturesqueness of a struggle with temptation, or a 
            fatal overthrow by passion or doubt. Happiness is never grand.”
    </div>

    <div class="jumbotron">
            “V.P.S.?”<br>
            “Violent Passion Surrogate. Regularly once a month. We flood the whole system
            with adrenin. It’s the complete physiological equivalent of fear and rage.
            All the tonic effects of murdering Desdemona and being murdered by Othello,
            without any of the inconveniences.”<br>
            “But I like the inconveniences.”<br>
            “We don’t,” said the Controller. “We prefer to do things comfortably.”<br>
            “But I don’t want comfort. I want God, I want poetry, I want real danger, I want
            freedom, I want goodness. I want sin.”<br>
            “In fact,” said Mustapha Mond, “you’re claiming the right to be unhappy.”<br>
            “All right then,” said the Savage defiantly, “I’m claiming the nght to be
            unhappy.”<br>
            “Not to mention the right to grow old and ugly and impotent; the right to have
            syphilis and cancer; the right to have too little to eat; the right to be lousy; the
            right to live in constant apprehension of what may happen to- morrow; the
            right to catch typhoid; the right tobe tortured by unspeakable pains of every
            kind.” There was a long silence.<br>
            “I claim them all,” said the Savage at last.
    </div>
</div>
{% endblock %}